html,
body {
    height: 100%;
}
.flex-container {
    display: flex;
    height: 100vh;
}

.filters {
    width: 20%;
    height: 100%;
    overflow-y: auto;
}

.map {
    flex: 1;
}

@media (max-width: 767px) {
    .flex-container {
        flex-direction: column;
    }

    .filters {
        width: 100%;
        height: 30%;
    }

    .map {
        width: 100%;
        height: 70%;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Add a higher z-index value */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    z-index: 1001; /* Add a higher z-index value */
  }
  